<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Person",
      "name": "Abolfazl Moslemian",
      "alternateName": "Abowfzl",
      "gender": "Male",
      "birthDate": "2001-05-02",
      "nationality": "Iranian",
      "email": "mailto:abowfzl@gmail.com",
      "url": "https://abowfzl.com",
      "sameAs": [
        "https://www.linkedin.com/in/abowfzl",
        "https://twitter.com/abowfzl",
        "https://github.com/abowfzl",
        "https://stackoverflow.com/users/17593676/abolfazl-moslemian"
      ],
      "jobTitle": "Software Developer | ML & Data Science Specialist",
      "alumniOf": {
        "@type": "EducationalOrganization",
        "name": "University of Qom"
      },
      "image": "https://abowfzl.com/assets/images/profile.jpg",
      "description": "Abofazl Moslemian is a software engineer with over 4 years of experience in web development and machine learning.",
      "knowsAbout": [
        "Web Development",
        "Machine Learning",
        "Data Science",
        "Artificial Intelligence",
        "LLMs"
      ]
    }
</script>
